body #content > footer{
	display: block;
	background: url('img/line-footer-b.png')no-repeat top center , url('img/line-footer-b.png') no-repeat bottom center,black;
	background-size: 95% 1px;
	margin: 5% 0px 2% 0px;
	padding: 20px 20px;
}
body #content footer div{
	display: inline-block;
	vertical-align: top;
	font-family: arial;
	font-size: 10px;
	line-height: 20px;
	color: white;
}
body #content footer div a{
	text-decoration: none;
	white-space: nowrap;
	color: white;
	font-family: arial;
	font-size: 10px;
}
<<<<<<< HEAD
body #content footer div:first-child{
	float: left;
}
body #content footer div:nth-child(2){
=======
body #content footer div:last-child{
>>>>>>> 2f48d1b679c130f834a2c6bcbb779402713a717a
	float: right;
}
@media screen and ( max-width: 450px ){
	body #content footer div{
		display: block;
		text-align: center;
		float: none !important;
	}

	body #content footer{
		text-align: center;
	}
}