body #content > footer{
	display: block;
	background: url('img/line-footer-b.png')no-repeat top center , url('img/line-footer-b.png') no-repeat bottom center,black;
	background-size: 95% 1px;
	margin: 5% 0px 2% 0px;
	padding: 20px 20px;
}
body #content footer div{
	display: inline-block;
	vertical-align: top;
	font-family: arial;
	font-size: 10px;
	line-height: 20px;
	color: white;
}
body #content footer div a{
	text-decoration: none;
	color: white;
	font-family: arial;
	font-size: 10px;
}
body #content footer div:last-child{
	float: right;
}