#news{
	display: block;
	text-align: center;
}
#news article{
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-align: left;
	width: 31%;
	margin: 1%;	
}
#news article:hover #overlay{
	opacity: 1;
}
#news article #overlay{
	text-decoration: none;
	border:none;
	display: block;
	background: rgba(0, 163, 255, 0.7);
	opacity: 0;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	transition:all 1s;
}
#news article img{
	width: 100%;
	height: auto;
	margin-bottom: -3px;
}
#news article footer{
	display: block;
	font-size: 20px;
	padding: 15px 5px;
}
@media screen and ( max-width: 410px ){
	#news article{
		width: 90%;
		margin: 8px 0;
	}
}