#popup{
	display: block;
	position: fixed;
	background: rgba(0, 0, 0, 0.9);
	top: 0;right: 0;bottom: 0;left: 0;
}
#popup > div{
	display: block;
	position: absolute;
	width: 95%;
	height: auto;
	color: rgba(0, 0, 0, 0.9);
	top: 50%;left: 50%;
	border-radius: 3px;
	z-index: 1;
}
#popup div #close{
	display: block;
	float: right;
	background: url('img/close.png') no-repeat center center;
	background-size: 80% 80%;
	width: 30px;
	height: 30px;
	margin: 5px 0;
	cursor: pointer;
}
#popup div img{
	width: 100%;
	height: auto;
}
#comments{
	display: block;
	border:solid 1px red;
}